/* 
.error {
  color: red;
}

p.good {
  color: rgba(12, 156, 12, 0.651);
}

p.good.feedback {
  border: 1px dashed yellowgreen;
}

#content {
  background-color: #ebebeb;
  padding: 20px;
} */
/* 
div .error{
  color: red;
} */

/* a[href*="google"]{
  background-color: rgb(226, 132, 70);
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
} */

div {
  color: lightcoral;
  border: 1px dashed lightgray;
  margin: 40px;
  font-weight: bold;
}

p {
  border: inherit;
  margin: inherit;
  color: crimson;
}

p {
  color: orange;
}