body, ul, li, h1, h2, a {
  margin: 0;
  padding: 0;
  font-family: arial;
}

.banner {
   position: relative;
}

.banner img{
  max-width: 100%;
}

.banner .welcome {
  position: absolute;
  left: 0px;
  top: 30%;
  background-color: rgb(245, 232, 208);
  color: red;
  padding: 30px;
}

.banner h2 {
  font-size: 42px;
}

.banner h2 span {
  font-size: 1.2em;
}

header {
  background-color: red;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

header h1 {
  color: white;
  border: 8px solid white;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 36px;
}

nav {
  background-color: lightgrey;
  padding: 20px;
  position: sticky;
  top: 105px;
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
  text-align: center;
}

nav li a{
  text-decoration: none;
  color: darkslategray;
}

nav li a.join {
  color: red;
}

main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}

article h2 {
  color: red;
  font-size: 42px;
}

article p {
  line-height: 1.75em;
  color: darkslategray
}

.images {
  text-align: center;
  margin: 80px auto;
  white-space: nowrap;
}

.images li {
  display: inline-block;
  width: 40%;
  margin: 10px 2%;
}

.images li img {
  max-width: 100%;
}

section.join {
  background-color: #f4f4f4;
  text-align: center;
  padding: 60px 20px;
  color: darkslategray;
}

section.join h2 {
  font-size: 36px;
}

form input{
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px solid white;
}

footer {
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
}